# Database Config
DB_NAME=lms_db
DB_USER=lms_user
DB_PASSWORD=password_kuat_anda
DB_HOST=localhost
DB_PORT=5432

# Anda juga bisa memindahkan SECRET_KEY dan DEBUG ke sini nanti
SECRET_KEY=django-insecure-koderahasiaanda
DEBUG=True